<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:tx="http://www.springframework.org/schema/tx" xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd
           http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.0.xsd">

	<bean id="defaultAbstractConfigurationMessage" class="com.nabla.project.application.core.spring.AbstractMessageConfig" abstract="true">
		<property name="queueSize" value="1000"/>
	</bean>
	
	<bean id="defaultConfigurationMessage" class="com.nabla.project.application.core.spring.MessageConfig" parent="defaultAbstractConfigurationMessage" lazy-init="true">
		<property name="validationXmlOutput" value="true"/>
	</bean>
	
	<bean id="defaultAbstractConfigurationPipe" class="com.nabla.project.application.core.spring.AbstractPipeConfig" abstract="true">
		<property name="queueSize" value="1000"/>
	</bean>

	<bean id="defaultConfigurationPipe" class="com.nabla.project.application.core.spring.PipeConfig" parent="defaultAbstractConfigurationPipe" lazy-init="true"/>
	
	<bean id="version" class="com.nabla.project.application.core.configuration.Version" />
</beans>
